$open-sans-regular: "open-sans-regular", "Arial", sans-serif;
$open-sans-bold: "open-sans-bold", "Arial", sans-serif;
$arial: "Arial", "Arial", sans-serif;


$black: #000000;
$black-light: #1c1c1c;
$white: #ffffff;
$blue: #0087d3;
$blue-deep: #0076ff;
$grey: #425668;
$grey-metal: #d9d9d9;
$grey-dark: #828282;
$grey-graphite: #575454;
$grey-light: #eeebeb;
$grey-thin: #e5e5e5;
$grey-steel: #a6a5a5;
$orange: #ffb168;
$pepper: #f1f1f1;
$blue-outline: 1px solid rgba(0, 118, 255, 0.33);
